@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@*environment taghelpers*@
<environment include="Development"> 
  <div class="bg-danger"> TESTING </div>
</environment>

@*<environment include="staging">
    <div class="bg-danger"> TESTING </div>
</environment>*@

