@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="alert alert-danger mt-1 mb-1">
    <h3>404 NOT FOUND error:</h3>
    <h4>
        Employee with above id  cannot be found
    </h4>
    <img src="https://media.tenor.com/PPOe9MawAvsAAAAC/404-not-found.gif">
</div>
<a asp-action="Details1" asp-controller="Home" class="btn btn-outline-primary">
    Click Here to see the list of all employees
</a>



