@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1> Error occured while processing the request</h1>
<hr />
<h2> Exception details:</h2>

<div class="alert-danger">
    <h3>Exception path:</h3>
    <p> @ViewBag.Exceptionpath</p>
</div>

<div class="alert-danger">
    <h3>Exception message:</h3>
    <p> @ViewBag.ExceptionMessage</p>
</div>

<div class="alert-danger">
    <h3>Exception Stack Trace:</h3>
    <p> @ViewBag.StackTrace</p>
</div>
